@media (max-width: 1000px) {
  .showcase .container {
    grid-template-columns: 1fr;
  }

  .showcase-text {
    padding-top: 40px;
    text-align: center;
    animation: slideInFromTop 700ms ease;
  }

  .showcase-text p {
    margin-left: auto;
    margin-right: auto;
  }

  .showcase-form {
    justify-self: center;
    animation: slideInFromBottom 700ms ease;
  }

  .features-main .container {
    grid-template-columns: 1fr;
  }

  .features-main .card:nth-child(1),
  .features-main .card:nth-child(2) {
    grid-column: 1;
  }
}

/* For tablet screens*/
@media (max-width: 900px) {
  .stats h2 {
    width: 90%;
    margin: auto;
  }

  .stat-cards {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .cli .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 30px;
  }

  .cli .image {
    grid-column: 1;
    grid-row: 1;
  }

  .cli .card {
    width: 85%;
    margin: auto;
    text-align: center;
  }

  .cloud .container {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .cloud .image {
    grid-row: 1;
    justify-self: center;
  }

  .cloud-text {
    grid-row: 2;
  }

  .features-head .container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .head-text {
    grid-row: 2;
    text-align: center;
  }

  .features-head .image {
    justify-self: center;
    grid-row: 1;
  }

  .features-sub-head .container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .sub-head-text {
    grid-row: 2;
    text-align: center;
  }

  .features-sub-head .image {
    justify-self: center;
    grid-row: 1;
  }

  .docs-head .container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .docs-text {
    grid-row: 2;
    text-align: center;
  }

  .docs-head .image {
    grid-row: 1;
    justify-self: center;
  }

  .docs-main .container {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .table-of-contents {
    width: 60%;
    justify-self: center;
  }

  .head-text p,
  .docs-text p {
    margin-top: 8px;
  }
}

@media (max-width: 750px) {
  footer .container {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 30px;
    text-align: center;
  }
}

/* For mobile screens */
@media (max-width: 580px) {
  .navbar .container {
    flex-direction: column;
    row-gap: 20px;
  }

  .nav-items {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 10px;
  }

  .nav-items li a:active {
    text-decoration: none;
  }

  .showcase-form {
    width: 320px;
  }

  .showcase h1,
  .head-text h2,
  .docs-text h2 {
    font-size: 35px;
  }

  .cloud-text h2,
  .languages h2,
  .sub-head-text h2 {
    font-size: 28px;
  }

  .stats h2 {
    font-size: 20px;
  }

  .cli .card h3 {
    font-size: 18px;
  }

  .features-main .card {
    flex-direction: column;
    gap: 25px;
  }

  .features-main .card p {
    text-align: center;
  }

  .features-main .card i {
    width: auto;
  }

  .table-of-contents {
    width: 100%;
  }

  .introduction div p {
    font-size: 16px;
  }

  .fa-info {
    display: none;
  }

  .btn {
    font-size: 16px;
  }

  .container {
    padding: 0 25px;
  }
}
