@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --blue: #047aed;
  --darkBlue: #1c3fa8;
  --navyBlue: #002240;
  --white: #ffffff;
  --black: #333333;
}

/* Base styles */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "Lato";
  color: var(--black);
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

p {
  font-size: 1.16rem;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  background-color: var(--blue);
}

.navbar .container {
  padding-top: 30px;
}

.logo a {
  font-size: 2.6rem;
}

.nav-items {
  gap: 35px;
}

.nav-items a {
  font-size: 1.2rem;
  padding-bottom: 2px;
}

.nav-items a:hover {
  border-bottom: 1.5px solid var(--white);
}

/* Showcase */
.showcase {
  padding-bottom: 20px;
  background-color: var(--blue);
  position: relative;
}

.showcase .container {
  grid-template-columns: 60% 40%;
  color: var(--white);
}

.showcase-text h1 {
  font-size: 3rem;
}

.showcase-text p {
  margin-top: 16px;
  width: 90%;
}

.showcase-text .btn {
  margin-top: 30px;
  background-color: transparent;
  border: 1px solid var(--white);
}

.showcase-form {
  padding-bottom: 50px;
  color: var(--black);
  width: 380px;
  justify-self: end;
  position: relative;
  top: 50px;
  z-index: 10;
}

.showcase-form h2 {
  font-size: 1.8rem;
  margin-bottom: 40px;
}

.form-controls {
  gap: 30px;
}

.form-controls input {
  border: none;
  border-bottom: 1px solid #bbb;
  padding-bottom: 4px;
  font-size: 1.1rem;
}

.showcase-form .btn {
  margin-top: 40px;
  background-color: var(--blue);
}

.showcase::after {
  content: "";
  display: block;
  width: 100%;
  height: 100px;
  background-color: var(--white);
  position: absolute;
  left: 0;
  bottom: -80px;
  transform: skewY(-2.5deg);
}

/* Stats */
.stats .container {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}

.stats h2 {
  max-width: 60%;
  margin: 0 auto;
  font-size: 1.7rem;
}

.stat-cards {
  margin-top: 50px;
}

.stat-card i {
  font-size: 50px;
}

.stat-card h3 {
  margin-top: 5px;
  font-size: 2rem;
}

.stat-card p {
  margin-top: 8px;
  font-size: 1.4rem;
}

/* CLI */
.cli .container {
  padding-bottom: 40px;
  grid-template-rows: 1fr 1fr;
  column-gap: 30px;
}

.cli img {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.cli .card {
  padding: 20px 30px;
}

.cli .card h3 {
  font-size: 1.4rem;
}

/* Cloud */
.cloud {
  background-color: var(--blue);
}

.cloud .container {
  padding-top: 40px;
  padding-bottom: 30px;
  color: var(--white);
  text-align: center;
}

.cloud-text h2 {
  font-size: 3.2rem;
}

.cloud-text p {
  font-size: 1.4rem;
}

.cloud-text .btn {
  margin-top: 25px;
  padding: 12px 20px;
  background-color: #003665;
}

.cloud img {
  width: 75%;
  justify-self: end;
}

/* Languages */
.languages .container {
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;
}

.languages h2 {
  font-size: 2.5rem;
}

.language-cards {
  margin-top: 50px;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 20px;
}

.language-cards .card h3 {
  margin-bottom: 20px;
  font-size: 1.35rem;
}

.language-cards .card img {
  width: 6rem;
}

.language-cards .card {
  transition: transform 200ms ease-in-out;
}

.language-cards .card:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

/* Footer */
footer {
  background-color: var(--navyBlue);
}

footer .container {
  padding-top: 50px;
  padding-bottom: 40px;
  align-items: flex-start;
  color: var(--white);
}

footer nav li a {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 1.15rem;
}

footer nav li a:hover {
  color: rgb(255, 255, 255, 0.7);
}

.socials a {
  margin-left: 13px;
}

.socials a i {
  font-size: 1.8rem;
  transition: transform 200ms ease;
}

.socials a i:hover {
  transform: scale(1.2);
}

/* For Features page */

/* Head */
.features-head {
  background-color: var(--blue);
}

.features-head .container {
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--white);
}

.head-text h2 {
  font-size: 4.5rem;
}

.head-text p {
  font-size: 1.3rem;
}

.features-head img {
  width: 35%;
  justify-self: end;
}

/* Sub-head */
.features-sub-head .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.sub-head-text h2 {
  font-size: 3rem;
}

.sub-head-text p {
  margin-top: 15px;
  font-size: 1.16rem;
}

.features-sub-head img {
  width: 50%;
  justify-self: end;
}

/* Features main */
.features-main .container {
  padding-top: 30px;
  padding-bottom: 60px;
  align-items: stretch;
  gap: 30px;
}

.features-main .card:nth-child(1) {
  grid-column: 1 / span 3;
}

.features-main .card:nth-child(2) {
  grid-column: 1 / span 2;
}

.features-main .card {
  display: flex;
  align-items: center;
  gap: 40px;
}

.features-main i {
  font-size: 3.5rem;
  width: 50px;
}

/* For documentation page */

/* Head */
.docs-head {
  background-color: var(--blue);
}

.docs-head .container {
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--white);
}

.docs-text h2 {
  font-size: 4.5rem;
}

.docs-text p {
  font-size: 1.3rem;
}

.docs-head img {
  width: 35%;
  justify-self: end;
}

/* Docs main */
.docs-main .container {
  padding-top: 60px;
  padding-bottom: 60px;
  grid-template-columns: 1fr 2fr;
}

.table-of-contents {
  background-color: #f1f1f1;
  align-self: start;
  gap: 20px;
  width: 80%;
}

.table-of-contents nav h3 {
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.table-of-contents ul li {
  border-bottom: 1px solid #bbb;
  padding-bottom: 4px;
  margin-bottom: 12px;
}

.table-of-contents ul li a {
  font-size: 1.17rem;
  color: var(--black);
}

.essentials ul li:first-child a {
  color: var(--blue);
}

.introduction-section > div {
  margin-bottom: 25px;
  gap: 15px;
}

.introduction-section h3 {
  font-size: 1.5rem;
}

.introduction h3 {
  font-size: 1.8rem;
}

.introduction div {
  padding: 12px 20px;
  background-color: #5cb85c;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 15px;
}

.introduction div > * {
  font-size: 1.2rem;
}

.description .btn {
  background-color: #047aed;
}

.code-snippets > * {
  margin-bottom: 12px;
}

.code-snippets h4 {
  font-size: 1.2rem;
}

.code-snippets p {
  background-color: var(--black);
  color: var(--white);
  padding: 12px 20px;
}
